/**************  body   *************/
body{
  background: linear-gradient(230deg,#4D84B7,
                                     #5D95B7,
                                     #91D2EC,
                                     #B2DFF2,
                                     #D3EDF7,
                                     #F4FAFD);
  margin: 0;
  font-size: 20px;
  font-family: b612;
  color: inherit;
  overflow: scroll;
  overflow-x: hidden;
  height: auto;
}
.vide{
  padding-top: 30px;
  padding-bottom: 30px;
}

/*************    #A3A2F6       #5E5CF0     #1917EA     #0300BE
/************  effect under navbar  **********/
@media only screen and (min-width: 800px) {

.effect:hover{
  padding-bottom: 6px;
  border-bottom: 3px solid #252e41;
  -webkit-transition:border-bottom .3s ;
}
}
/************  effect button sign in **********/
.effectSignIn:hover{
  background: #FF7373;
  -webkit-transition: background-color 1s ;
}


/* image  responsive */ 
.image{
  width: 100% ;
  height: auto;
}
  
  /* center the items */ 
.allCenter {
  padding: 50px;
  -ms-flex-align: center !important;
  align-items: center !important;
  }


/* info bar  what we are gonna learn */ 
.infoBar{
  font-family: Courier Prime;
  font-size: 30px;
  margin: 90px 0px 55.624px 0px;  
  padding: 90px 0px 55.624px 0px;
  /*background: #ddd;*/
  background: rgb(0, 0, 0,0.2);
  text-align: center;
}
.paragraphInfo{
  padding: 20px 50px;
  background: rgb(0, 0, 0,0.2);
  border-radius: 30px 60px 60px;
  display: inline-block;
}
  
/* padding paragraph */ 
  .pading-paragraph{
      padding: 10px 30px 20px;
  }


  /* id home */
#home{
    padding-top:100px
}
/*********   le bloc de contact   ************/
.contact{
    display: block;
    padding: 60px 85px;
    width: 100%;
    height:auto; 
    background: linear-gradient(230deg,#4D84B7,
                                      #5D95B7,
                                      #91D2EC,
                                      #B2DFF2,
                                      #D3EDF7,
                                      #F4FAFD);
    background-image: linear-gradient(230deg,#4D84B7,
                                            rgba(93, 149, 183, 0.452),
                                            rgba(145, 210, 236, 0.445),
                                            rgba(178, 223, 242, 0.425),
                                            rgba(211, 237, 247, 0.459),
                                            rgba(244, 250, 253, 0.445))
                                            ,url(g/0.jpg) ;
    background-size:cover;
}
/*************   span de contact   ***************/
.contact span{
    font-size: 23px;
}
/**********  follow us social media  *************/
.social{
    margin: auto;
    text-align: center;
    padding: auto;
    width: 60%;
    font-size: 30px;
}
.fa{
    font-size: 40px;
    color: rgb(0, 1, 54);
    padding: 15px;
    padding-top: 60px;}
.fa:hover{
    opacity: 0.8;
}
.btnSend{
    color: #333;
    background-color: #fff;
    border:0.3px solid #ccc;
    font-size: 23px;
    width:105px;
    height: 42px;
    margin-top:30px ;
}
.btnSend:hover{
    background-color: #eaeaea;
}


#about{
    padding: 20px 25%;
}

.orgenazers{
    padding: 30px 0px ;
}
/************************************


.txtb input{
	border-bottom: 2px solid grey;
	position: relative;
	margin: 30px 0px ; 
}

.txta textarea{
    border-bottom: 2px solid grey;
    position: relative;

	margin: 30px 0px ; 
} 

.txtb input{
    font-size: 18px;
    color :rgb(0, 143, 24) ;
    height: 40px;
    padding: 0 0px;
    border:3px solid #ddd;
    background: none;
}

.txtb span::before{
    content: attr(data-placeholder);
    color:blue;
    transition: .4s;
    font-size: 18px;
}

.txtb span::after{
	content: '';
	position: absolute;
	width: 0px;
	height: 2px;
	background-image: linear-gradient(120deg,blue,green) ;
  	top:97px;
  	left: 60px;
    transition: .5s; 
    
}



.focus + span::before{
	top:-5px;
font-size: 15px;
}

.focus + span::after{
	width: 100%;

}
 


************************************************/



.send{
    font-size: 20px;
}


.txtb{

    position: relative;
    margin: 30px 0;

  }
  
  .txtb input{
    border: 1.5px solid #ddd ;
    font-size: 20px;
    color: #10131bdc;
  width: 90%;
    background: none;
    padding: 0 6px;
    height: 40px;
    
}

.txtb input:focus{
    border: 1px solid #4D90FE;
 
    
}
  
  .txtb span::before{
      content: attr(data-placeholder);
      padding:0 5px ;
        position: absolute;
        top : 5px;
        left: 10px;
        color: #969696;
        transition: .5s;
  }
  
  .txtb span::after{
    content: '';
    position: absolute;
    top:40px;
    width: 0px;
    transition: .5s;
    
  }
  
  .focus + span::before{
    top: -10px;
    left: 3px;
    font-size: 14px;
    display:inline;
    background: #ffffff;
    transition: .4s;
     }
  .focus + span::after{
    width: 100%;
  }
/******************/



  ::placeholder{
    padding-left: px;
    font-size: 20px;
    color: rgb(115, 119, 115);
  }

  .txta{
    padding-left: 7px;
    font-size: 20px;
    color: #10131bdc;
    width: 90%;
    background: none;
    height: auto;
    border: 1.5px solid #ddd ;
  }
 




.d { 
    left: 0px;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}
/*
}*/

.d0{
    background: rgb(253, 253, 253);
    
    height: 81.4px;
}
.d1{

    background: rgb(251, 251, 251);
    height: 81.4px;
} 
.d2{    
    background: rgb(249, 249, 249);
    height: 81.4px;
} 
.d3{    

    background: rgb(247, 247, 247);
    height: 81.4px;
}
.d4{
    
    background: rgb(245, 245, 245);
    height: 81.4px;
}
.d5{

    background: rgb(243, 243, 243);
    height: 81.4px;
} 
.d6{    
    background: rgb(241, 241, 241);
    height: 81.4px;
} 
.d7{    

    background: rgb(239, 239, 239);
    height: 81.4px;
}
.d8{
    
    background: rgb(237, 237, 237);
    height: 81.4px;
}
.d9{
    
    background: rgb(235, 235, 235);
    height: 81.4px;
}

/****************************************/






  .signin{
    font-weight: bold;
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    position: relative; 
    top: 50%;
    
  }
  .modal{
      padding-top: 50px;
      padding-left: 170px;
  }
  /*Modal*/
  h4 {
    font-weight: bold;
    color: #fff;
  }
  .close {
    color: #fff;
    transform: scale(1.2)
  }
  .modal-content {
      box-shadow: inset;
    font-weight: bold;
    background: #ffffff;
    height: 650px;
    width: 450px;
  }
  .form-control {
    margin: 1em 0;
  }
  .form-control:hover, .form-control:focus {
    box-shadow: none;  
    border-color: #fff;
  }
  .username, .password {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid #eee;
    padding-left: 0;
    padding-top: 90px;
    margin-bottom:50px ;
    font-weight: normal;
    background: transparent;  
  }
  .form-control::-webkit-input-placeholder {
    color: #eee;  
  }
  .form-control:focus::-webkit-input-placeholder {
    font-weight: bold;
    color: #fff;
  }
  .signin {
    padding: 6px 20px;
    border-radius: 20px;
    background: none;
    border: 2px solid #FAB87F;
    color: #FAB87F;
    font-weight: bold;
    transition: all .5s;
    margin-top: 1em;
  }
  .signin:hover {
    background: #FAB87F;
    color: #fff;
  }




.imglogin{
    width: 50%;
    height: auto;
    justify-content: center;
}
  
  



  
.txtc{
    position: relative;
    margin: 30px 0;

  }
  
  .txtc input{
    border: 1.5px solid #ddd ;
    font-size: 20px;
    color: #10131bdc;
  width: 90%;
    background: none;
    padding: 0 6px;
    height: 40px;
    
}

.txtc input:focus{
    border: 1px solid #4D90FE;
 
    
}
  
  .txtc span::before{
      content: attr(data-placeholder);
      padding:0 5px ;
        position: absolute;
        top : 5px;
        left: 10px;
        color: red;
        transition: .5s;
  }
  
  .txtc span::after{
    content: '';
    position: absolute;
    top:40px;
    width: 0px;
    transition: .5s;
    
  }
  
  .focus + span::before{
    top: -10px;
    left: 3px;
    font-size: 14px;
    display:inline;
    background: #ddee65;
    transition: .4s;
     }
  .focus + span::after{
    width: 100%;
  }
/******************/



  ::placeholder{
    padding-left: px;
    font-size: 20px;
    color: rgb(115, 119, 115);
  }





  /*************************************/



  
.pere{
  height: 100%;
  width: 100%;
  background-image:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(g7.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  background: linear-gradient(120deg,skyblue,skyblue,rgb(253, 250, 51),skyblue,skyblue);
  
}

.box{
  box-shadow: 0 0 50px 9px rgb(91, 162, 190);
  width: 300px;
  height: 500px;
  position: relative;
  margin: 6% auto;
  background: #ffffff;
  padding: 5px;
  overflow: hidden;
}
.btnGroup{
  top: 0px;
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px skyblue;
  border-radius: 20px;
}
.btn{
  top: 0px;
  padding: 12px 30px ;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#btns{
  top: 0px;
  left: 0;
  position: absolute;
  width: 115px;
  height: 100%;
  background-image:linear-gradient(140deg,skyblue,orange);
  border-radius: 20px;
}
.welcom{
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}
.inputLogin{
  top: 140px;
  position: absolute;
  width: 280px;
  transition: .5s;
}
.inputAll{
  width: 90%;
  padding: 10px 0;
  margin: 10px 0;
  border: 0;
  border-bottom: 1.3px solid black;
  outline: none;
  background:transparent;

}
.subButton{
  
  width: 220px;
  padding: 10px 10px;
  cursor: pointer;
  display: block;
  margin: auto 15px;
  background:linear-gradient(140deg,skyblue,orange);
  border:0;
  outline: none;
  border-radius: 30px;
  margin-top:50px ;
}

#signIn{
  left: 25px;
}
#signUp{
  left: 450px;
}