{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>

        <title>	page js </title>

        <meta charset="utf-8" />
        <meta name="viewprot" cont="width=device-width , initial-scal=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=B612&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap0.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'Bost2.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css2.css' %}">
        <link rel="stylesheet" type="text/css" href=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap-grid.css">

    </head>




    <body>





        <nav class="navbar navbar-default navbar-fixed-top navbar-custom " >
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#coll" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index2.html">TECH DAY</a>
                </div>

                <div class="collapse navbar-collapse " id="coll">


                    <ul class="nav navbar-nav navbar-right">
                        <li class="effect"><a href="{% url 'home' %}">Home</a></li>
                        <li class="effect"><a href="{% url 'program' %}">Program</a></li>
                        <li class="effect"><a href="{% url 'contact' %}">Contact Us</a></li>
                        <li class="effect"><a href="{% url 'login' %}">Sign In</a></li>
                        <li class="effectSignIn"><a class="effectSignIn" href="{% url 'log' %}" >Sign Up</a></li>



                    </ul>

                </div>
            </div>
        </nav>



        <section id="home">
            <div class="container">
              <div class="row">


                <div class="col-md-6 col-sm-12">
                    <div class="fromTop">
                        <h1>One Day , More Information <br> Let's Started Together </h1>
                        <p>Google Home voice-activated speaker it's example for the IA technology it can help you in your resersh and more <br> We will learn how it work </p>
                      </div>
                  <br>
                </div>

                <div class="col-md-6 col-sm-12 ">
                    <div class="fromRight">
                      <img class="image" src="{% static 'homeg.png' %}">
                    </div>
                  </div>
              </div>
            </div>
          </section>


          <section class="infoBar" id="program">
            <div class="container-fluid">
              <p class="lol">what we are going to learn in this day</p>
            </div>
          </section>



<div style="z-index: 1;">

<div class="container-fluid" id="content">
    <div class="container text-center">

        <div class="row allCenter text-md-left ">
            <div class="col-md-6 order-1 order-md-0 fromLeft"><img class="image" src="{% static 'g1.png' %}" alt=""></div>
            <div class="col-md-6  ">
                <p class="padding-paragraph fromRight ">Using our Piper Assistant application, you can move your data to be stored our decentralized Using our Piper Assistant application, you can move your data to be stored our decentralized network with simple drag &amp; drop.</p>
            </div>
        </div>
        <div class="row allCenter text-md-right ">
            <div class="col-md-6 order-1 fromLeft"><img class="image" src="g/g2.png" alt=""></div>
            <div class="col-md-6   order-0">
                <p class="padding-paragraph fromRight">We want to make Using our Piper Assistant application, you can move your data to be stored our decentralized sure that you can keep using the software that you use to manage your  business.</p>
            </div>
        </div>
        <div class="row allCenter text-md-left ">
            <div class="col-md-6 order-1 order-md-0 from3D-11"><img class="image" src="{% static 'g3.png' %}" alt=""></div>
            <div class="col-md-6 ">
                <p class="padding-paragraph from3D-12">As with all innovative Using our Piper Assistant application, you can move your data to be stored our decentralized technologies, sometimes unpredictable things will happen, and you can always count on our support to solve issues for you.</p>
            </div>
        </div>

        <div class="ff">
            <div class="row allCenter text-md-right ">
                <div class="col-md-6 order-1 from3D-21"><img class="image" src="{% static 'g2.png' %}" alt=""></div>
                <div class="col-md-6 order-0">
                    <p class="padding-paragraph from3D-22">We want to make Using our Piper Assistant application, you can move your data to be stored our decentralized sure that you can keep using the software that you use to manage your  business.</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>




<section class="contact" id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-12 " >
              <form method="POST" enctype="multipart/form-data">
                  <div>
                      <div class="send" >What Do You Think About This Event</div>
                  </div>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btnSend">Creat</button>
              </form>
            </div>
          <div  class="col-lg-7 col-md-12 msg">
                <!--     <div class=" col-sm-6 col-xs-12 ">      -->

                <div>Follow Us</div>
                <div class="font-social">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>




        </div>
    </div>
</section>


<div id="about">
    <center>
        <h1>Who We Are</h1>
        <h3> we are club scientifique traying to help the engenieer in the technology and we want to give them our experiense </h3>
        <div class="orgenazers">If You Want To Descover Our Orgenaizers <a href="#oragan.html"> click here</a> </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3198.729639869554!2d3.1717269156421697!3d36.70503418074978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x128e522f3f317461%3A0x215c157a5406653c!2sEcole%20Nationale%20Sup%C3%A9rieure%20d&#39;Informatique%20(Higher%20School%20for%20Computer%20Science)!5e0!3m2!1sen!2sdz!4v1578677523387!5m2!1sen!2sdz" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </center>


</div>









                    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
                    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>



                    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

                        <script type="text/javascript">
                        $(".text-box input").on("focus",function(){
                            $(this).addClass("focus");
                        });

                        $(".text-box input").on("blur",function(){
                            if($(this).val() == "")
                            $(this).removeClass("focus");
                        });

                        </script>







<script>
    window.sr = ScrollReveal({
        reset : false,
    }
    );
    sr.reveal('.navbar', {
      duration: 2000,
      origin:'bottom',

    });

/* top bottom right left */
    sr.reveal('.fromTop', {
      duration: 2000,
      origin:'top',
      distance:'300px',
    });
    sr.reveal('.fromBottom', {
      duration: 2000,
      origin:'bottom',
      distance:'300px'
    });
    sr.reveal('.fromRight', {
      duration: 2500,
      origin:'right',
      distance:'300px'
    });
    sr.reveal('.fromLeft', {
      duration: 2500,
      origin:'left',
      distance:'300px'
    });

/*  3d   */
    sr.reveal('.from3D-11', {
      duration: 1400,
      scale : 0.4
    });

    sr.reveal('.from3D-22', {
      duration: 2000,
      distance:'300px'
    });
    /* not 3d */
    sr.reveal('.from3D-12', {
      duration: 2900,
      origin:'left',
      distance:'300px'
    });
    sr.reveal('.from3D-21', {
      duration: 1400,
      scale : 9
    });




    sr.reveal('.btn', {
      duration: 2000,
      delay: 2000,
      origin:'bottom'
    });
    sr.reveal('.infoBar div', {
      duration: 2000,
      origin:'bottom'
    });
    sr.reveal('.info-left', {
      duration: 2000,
      origin:'left',
      distance:'300px',
      viewFactor: 0.2
    });
    sr.reveal('.info-right', {
      duration: 2000,
      origin:'right',
      distance:'300px',
      viewFactor: 0.2
    });
</script>








<script type="text/javascript">
    $(".txtc input").on("focus",function(){
      $(this).addClass("focus");
    });

    $(".txtc input").on("blur",function(){
      if($(this).val() == "")
      $(this).removeClass("focus");
    });

    </script>





      <script type="text/javascript">
      $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
      });

      $(".txtb input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
      });

      </script>






<script type="text/javascript">
    $(".txta").on("focus",function(){
      $(this).addClass("focus");
    });

    $(".txta").on("blur",function(){
      if($(this).val() == "")
      $(this).removeClass("focus");
    });

    </script>




    </body>
</html>
