<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<html>
    <head>

        <title>	Research committee </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8" />
        <meta name="viewprot" cont="width=device-width , initial-scal=1">
        <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=B612&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'uikit-3.2.7/css/uikit.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'uikit-3.2.7/css/uikit.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'csspeople.css' %}">

    </head>

<!----------     START BODY  ------------->
<body>

      <br>
      <br>
            <div class="classa">
                <a href="{% url 'home' %}" class="uk-icon-button" uk-icon="chevron-left" style="margin-left: 50px"></a>
            </div>
            <div class="classaa">
                  <p class="classa">Research committee</p>
            </div>
      <br>
      <br>
      <br>
      <br>



    <div class="how"> * Artificial intelligence algorithms.</div>
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid-match notthis uk-text-center" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 350; repeat: false">

          <div>
              <div class="uk-card uk-card-primary  uk-card-body  this ">
                  <p  > mohammed amine  <hr class="uk-divider-small">
                  Professor of intelligence algorithm research And the head of specialty <hr class="uk-divider-small">  de wilaya de tiaret  </p>

              </div>
          </div>

          <div>
              <div class="uk-card uk-card-default uk-card-body  this"  >
                <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
                  Professor of intelligence algorithm research   <hr class="uk-divider-small">  de wilaya de tiaret  </p>
              </div>
          </div>

        <div>
              <div class="uk-card uk-card-default uk-card-body  this" >
                <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
                  Professor of intelligence algorithm  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
              </div>
          </div>

          <div>
              <div class="uk-card uk-card-default uk-card-body  this"  >
                <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
                  Professor of intelligence algorithm research <hr class="uk-divider-small">  de wilaya de tiaret  </p>
              </div>
          </div>

</div>
           <div class="how"> * Tools and applications of artificial intelligence.  </div>
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid-match notthis uk-text-center" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 350; repeat: false">

          <div>
              <div class="uk-card uk-card-primary  uk-card-body  this" >
                <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
                  professer de l'algorithme de l'intelligence And the head of specialty  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
              </div>
          </div>

          <div>
              <div class="uk-card uk-card-default uk-card-body  this" >
                <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
                  professer de l'algorithme de l'intelligence  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
              </div>
          </div>

        <div>
              <div class="uk-card uk-card-default uk-card-body  this" >
                <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
                  professer de l'algorithme de l'intelligence  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
              </div>
          </div>

          <div>
              <div class="uk-card uk-card-default uk-card-body  this" >
                <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
                  professer de l'algorithme de l'intelligence  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
              </div>
          </div>

</div>
           <div class="how"> *   Natural language processing.</div>
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid-match  notthis uk-text-center" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 350; repeat: false">

          <div>
              <div class="uk-card uk-card-primary  uk-card-body  this" >
                <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
                  professer de l'algorithme de l'intelligence  And the head of specialty <hr class="uk-divider-small">  de wilaya de tiaret  </p>
              </div>
          </div>

          <div>
              <div class="uk-card uk-card-default uk-card-body  this" >
                <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
                  professer de l'algorithme de l'intelligence  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
              </div>
          </div>

        <div>
              <div class="uk-card uk-card-default uk-card-body  this" >
                <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
                  professer de l'algorithme de l'intelligence  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
              </div>
          </div>

          <div>
              <div class="uk-card uk-card-default uk-card-body  this" >
                <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
                  professer de l'algorithme de l'intelligence  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
              </div>
          </div>

</div>
           <div class="how"> *    Image and vision processing.</div>
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid-match  notthis uk-text-center" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 350; repeat: false">

          <div>
              <div class="uk-card uk-card-primary  uk-card-body  this" >
                <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
                  professer de l'algorithme de l'intelligence And the head of specialty  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
              </div>
          </div>

          <div>
              <div class="uk-card uk-card-default uk-card-body  this" >
                <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
                  professer de l'algorithme de l'intelligence  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
              </div>
          </div>

        <div>
              <div class="uk-card uk-card-default uk-card-body  this" >
                <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
                  professer de l'algorithme de l'intelligence  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
              </div>
          </div>

          <div>
              <div class="uk-card uk-card-default uk-card-body  this" >
                <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
                  professer de l'algorithme de l'intelligence  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
              </div>
          </div>

</div>


<div class="how"> *   Web intelligence application and research.</div>
<div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid-match  notthis uk-text-center" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 350; repeat: false">

      <div>
          <div class="uk-card uk-card-primary  uk-card-body  this" >
            <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
              professer de l'algorithme de l'intelligence  And the head of specialty <hr class="uk-divider-small">  de wilaya de tiaret  </p>
          </div>
      </div>

      <div>
          <div class="uk-card uk-card-default uk-card-body  this" >
            <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
              professer de l'algorithme de l'intelligence  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
          </div>
      </div>

    <div>
          <div class="uk-card uk-card-default uk-card-body  this" >
            <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
              professer de l'algorithme de l'intelligence  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
          </div>
      </div>

      <div>
          <div class="uk-card uk-card-default uk-card-body  this" >
            <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
              professer de l'algorithme de l'intelligence  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
          </div>
      </div>

</div>

<div class="how"> *   Intelligent systems architectures.</div>
<div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid-match  notthis uk-text-center" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 350; repeat: false">

      <div>
          <div class="uk-card uk-card-primary  uk-card-body  this" >
            <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
              professer de l'algorithme de l'intelligence  And the head of specialty <hr class="uk-divider-small">  de wilaya de tiaret  </p>
          </div>
      </div>

      <div>
          <div class="uk-card uk-card-default uk-card-body  this" >
            <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
              professer de l'algorithme de l'intelligence  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
          </div>
      </div>

    <div>
          <div class="uk-card uk-card-default uk-card-body  this" >
            <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
              professer de l'algorithme de l'intelligence  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
          </div>
      </div>

      <div>
          <div class="uk-card uk-card-default uk-card-body  this" >
            <p class="uk-text-center"> mohammed amine  <hr class="uk-divider-small">
              professer de l'algorithme de l'intelligence  <hr class="uk-divider-small">  de wilaya de tiaret  </p>
          </div>
      </div>

</div>




    <script type="text/javascript" src="{% static 'uikit-3.2.7/js/uikit.js' %}"></script>

    <script type="text/javascript" src="{% static 'uikit-3.2.7/js/uikit-icons.js' %}"></script>



</body>
</html>
