.navbar-default{
    
    background: linear-gradient(230deg, #4D84B7,
                                        #5D95B7,
                                        #91D2EC,
                                        #B2DFF2,
                                        #D3EDF7,
                                        #F4FAFD);
     border-radius: 0;
     border: 0;
     padding: 0px 5px 0px 30px;
     height: 60px;
     max-height: 60px;
}
.navbar{
    margin-bottom: 0.8px;
}

.navbar-brand{
    font-size: 30px;
}

@media only screen and (max-width: 770px) {

.navbar-collapse{
    text-align: center;
    background: rgb(137, 207, 235,0.9);
    border: 0px;

}}

.navbar-toggle{
    background: #5D95B7;
}
