*{
	font-family: "Open Sans", sans-serif;
}
body{
	background: #f5f8fd; 
	padding: 20px; 
}
 
.notthis{
 padding: 20px;
}


.this{

 padding: 25px;
}


.how{
	  padding-left:50px ; 
	  font-size: 30px;
}

.uk-icon-button{

 	background:#1f87f0;
}
.uk-icon-button:hover{
	background:#1f87f0;

	opacity: 0.8;
}




.classa{
	display: inline;
 }

 
.classaa{
  
	font-size: 29px;
	text-align: center;
 }