body{
	background: #f5f8fd; 
	padding: 20px;

}


.notthis{
 padding: 20px;
}


.this{

 padding: 25px;
}


.how{
	  padding-left:50px ; 
	  font-size: 30px;
}

.uk-icon-button{
	background: rgba(0, 0, 0, 0.685);
}
.uk-icon-button:hover{
	background: rgba(0, 0, 0, 0.685);
				opacity: 0.8;
}




.classa{
	display: inline;
 }

 
.classaa{
  
	font-size: 29px;
	text-align: center;
 }