{% load staticfiles %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" href="{% static 'Lstyle.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>

    </head>
    <body>
      <h1>Wellcome {{ user.username }}</h1>
      <a href="{% url 'logout' %}">Log out</a>
      {% if accepted %}
        <h2>You have been accepted ! please contact us for more information.</h2>
      {% endif %}
        <div class="pere">
            <div class="box">

                <br>

                  <br>

                  <a href="{% url 'submit' %}">Submit</a>

            </div>
        </div>



    </body>
</html>
